@font-face{
    font-family: Crusades;
    src:url(https://github.com/arcanemutterings/knave-sheet/blob/assets/Crusades.ttf?raw=true);
}

@font-face{
    font-family: King Arthur Legend;
    src:url(https://github.com/arcanemutterings/knave-sheet/blob/assets/King%20Arthur%20Legend.ttf?raw=true);
}

@font-face{
    font-family: Pirate-Scroll;
    src:url(https://github.com/arcanemutterings/knave-sheet/blob/assets/Pirate%20Scroll.otf?raw=true);
}

@font-face{
    font-family: Alegreya;
    src:local("Alegreya"), local("Alegreya-Regular"), url(https://github.com/arcanemutterings/Black-Hack-2e-Character-Sheet/blob/master/Alegreya-Regular.ttf?raw=true);
}

* {
    font-family: Alegreya;
    color:black;
    font-size: 15px;
}

input[type='number'] {
    text-align: end;
}

.sheet-heading {
    font-family: Pirate-Scroll;
    font-size: 160%;
}

.sheet-attribute {
    font-family: Pirate-Scroll;
    font-size: 210%;
}

.sheet-main-container {
    width: 100%;
    display: grid;
    grid-column-gap: 1em;
    grid-row-gap: 2em;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
        "name alignment traits traits"
        "level xp traits traits"
        "hp armor traits traits"
        "attributes attributes inv inv"
        "notes notes notes notes";
}

.sheet-main-container > div {
   /*background: lightgray;*/
}

.sheet-name {
    grid-area: name;
}

.sheet-alignment {
    grid-area: alignment;
}

.sheet-name > input,  .sheet-alignment > input {
    font-size: 1.2em;
}

.sheet-level {
    grid-area: level;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
}

.sheet-level > input {
    font-size: 1.2em;
    max-width: 45px;
}

.sheet-xp {
    grid-area: xp;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
} 

.sheet-xp > input {
    font-size: 1.2em;
    min-width: 75px;
}

.sheet-hp {
    grid-area: hp;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 30px 20px;
    align-items: center;
    justify-items: center;
}

.sheet-hp > input {
    font-size: 1.2em;
    max-width: 45px;
}

.sheet-armor {
    grid-area: armor;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 30px 20px;
    align-items: center;
    justify-items: center;
}

.sheet-armor > input {
    font-size: 1.2em;
    max-width: 45px;
}

.sheet-armor-bonus {
    font-size: 1.2em;
}

.sheet-armor-heading {
    padding-right: 10px;
}

.sheet-attributes {
    padding-top: 20px;
    grid-area: attributes;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 3fr;
    grid-template-rows: 0px repeat(6, 80px);
    align-items: center;
    grid-row-gap: 1em;
    justify-items: center;
}

.sheet-attributes > input {
    font-size: 1.5em;
    max-width: 50px;
}

.sheet-attribute-defense {
    font-size: 1.5em;
}


.sheet-attr-desc {
    font-size: 90%;
}


.sheet-traits {
    grid-area: traits;
}

.sheet-trait-input {
    width: 6em;
    /*background: #DCDCDC;*/
}

::placeholder {
    color: gray;
}

.sheet-inventory {
    grid-area: inv;
}

textarea {
    width: 97%;
    height: 3em;
    /*background: #DCDCDC;*/
}

.sheet-item {
    display: flex;
    align-items: center;
}

.sheet-item-desc {
    flex-grow: 1;
}

.sheet-slots-counter {
    margin-left: 10px;
    padding-right: 10px;
}

.sheet-notes {
    grid-area: notes;
}

.sheet-notes-textarea {
    min-height: 10em;
}

.sheet-inv-num {
    font-family: Pirate-Scroll;
    font-size: 100%;
}